<% include ../header %>
<br/>
<br/>
<h2>Confirm deletion of Course</h2>
<br/>
<br/> ID:
<%=  instructor._id %>
<br> CourseName:
<%=instructor.coursename %>
<br/> StartDate:
<%=instructor.startdate%>
<br/> EndDate:
 <%=instructor.enddate%>
 <br/> IntialLink:
 <%=instructor.intiallink%>
 <br/> FinalLink:
 <%=instructor.finallink%>
 <br/> Assign Student List:
 <%=instructor.studentlist%>
 <br/> Codeword Set Name:
 <%=instructor.codewordsetname%>

 
        <form method="get" action="/instructor">
              <input type="submit" value="Cancel" class="btn btn-primary" />
            </form>

            <br/>
            <form method="POST" action="/instructor/delete/<%= instructor._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
<!-- <% include ../footer %> -->