
<!-- main  -->


<div class="form-group">
  <label for="coursename">CourseName</label>
  <input type="text" class="form-control" id="coursename" autocomplete="off" name="coursename" value="<%= instructors.coursename %>" required>
</div>
<div class="form-group">
  <label for="startdate">StartDate</label>
  <input type="text" class="form-control" id="startdate" autocomplete="off" name="startdate" value="<%= instructors.startdate %>" required>
</div>
<div class="form-group">
  <label for="enddate">EndDate</label>
  <input type="text" class="form-control" id="enddate" autocomplete="off" name="enddate" value="<%= instructors.enddate %>" required>     
</div>
<!--Div Tag Added wrap -->
<div class="wrap">
  <div class="left">
<div class="form-group">
<label for="intiallink">IntialLink</label>
<input type="text" class="form-control" id="intiallink" autocomplete="off" name="intiallink" value="<%= instructors.intiallink %>">
</div>
</div>
<div class ="right">
<div class="form-group">
<label for="finallink">FinalLink</label>
<input type="text" class="form-control" id="finallink" autocomplete="off" name="finallink" value="<%= instructors.finallink %>" >
</div>
</div>
</div>
<%include instructions.ejs%>
<div class="form-group">
<label for="studentlist">Assign StudentList</label>
<input type="file" class="form-control" id="studentlist" autocomplete="off" name="studentlist" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
</div>
<label>Codeword Set</label>
<div class="form-group">
<select class="form-control" id="codeword" autocomplete="off" name="codeword" required>
   
    <% for ( let i = 0; i < codewords.length; i++) {   
      currentword = codewords[i];   %>
    <option value="<%=currentword.codeWordSetName%>">  <%=currentword.codeWordSetName%> </option>
    <%}%>

</select>

<!-- <input type="text" class="form-control" id="codewordsetname" name="codewordsetname" value="<%= instructors.codewordsetname %>" required> -->
</div>


<!-- <% include ../footer %> -->
<script>
$( function() {
// $( "#startdate" ).datepicker({
//   minDate: 'today',
//   beforeShowDay: $.datepicker.noWeekends
// });
// $( "#enddate" ).datepicker({
//   minDate: 'startdate',
//   beforeShowDay: $.datepicker.noWeekends
// });
$( "#startdate" ).datepicker({

minDate: 'today',
beforeShowDay: $.datepicker.noWeekends,
// defaultDate: "+1w",
// changeMonth: true,
// numberOfMonths: 3,
onClose: function( selectedDate ) {
  $( "#enddate" ).datepicker( "option", "minDate" , selectedDate  );
}
});
$( "#enddate").datepicker({
// defaultDate: "+1w",
// changeMonth: true,
// numberOfMonths: 3,
beforeShowDay: $.datepicker.noWeekends,
onClose: function( selectedDate ) {
  $( "#startdate" ).datepicker( "option", "maxDate", selectedDate );
}
});

} );


</script>
